<mat-card>
  <mat-card-title>Mot de passe oublié</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>Entrez l'email associé à votre compte pour réinitialiser votre mot de passe</p>
      <p>
        <mat-form-field>
          <input type="email" matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="email.invalid">{{getErrorMessage(email)}}</mat-error>
        </mat-form-field>
      </p>

      <p *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </p>

      <p *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
      </p>

      <p class="loginButtons">
        <mat-spinner *ngIf="ispending" [diameter]="35" ></mat-spinner><button class="ml-2" type="submit" mat-raised-button color="accent" [disabled]="form.invalid">Réinitialiser</button>
      </p>

    </form>
  </mat-card-content>
</mat-card>
