html, body {
margin:0;
padding:0;
font-family: Calibri, Arial, sans-serif;
background:url("../images/fond.jpg") no-repeat center fixed;
}

.menus{
    text-align: center;
    
}

.logo{
		/*background-attachment:fixed;*/
		background-color: #03224c;
		/*line-height: 150px;*/
		padding: 0 10px;
		width:1000px;
		margin-left: auto;
		margin-right: auto;
    text-align: center;
    /*margin-top : 150px;*/
}

.logo img{
    height: 150px;
}

.menu{
		/*background-attachment:fixed;*/
		background-color: #130e0a;
		height: 50px;
		padding: 0px 10px;
		width:1000px;
		margin-left: auto;
		margin-right: auto;
}

.menu_admin{
		/*background-attachment:fixed;*/
		background-color: #130e0a;
        border-top: 1px solid #aaaaaa;
		height: 50px;
		padding: 0px 10px;
		width:1000px;
		margin-left: auto;
		margin-right: auto;
}

.corps{
	   text-align:center;
		background-color: rgba(255,255,255,1);
		margin : 0px;
		padding: 10px;
		width:1000px;
		margin-left: auto;
		margin-right: auto;
        color: black;
		
}

.pied{
		/*background-attachment:fixed;*/
		text-align:center;
		background-color: #130e0a;
		line-height: 40px;
		padding: 10px;
		width:1000px;
		margin-left: auto;
		margin-right: auto;
		color:white;

		
}


.menu a, .menu_admin a{
	text-decoration: none;
	font-weight:bold;
	color : white;
    font-size: 20px;
    text-align: center;
    width: auto;
    line-height: 50px;
    display: inline-block;
}

.menu a{
	padding: 0 20px;
}

.menu_admin a{
	padding: 0 10px;
}

.menu a:hover{
    background-color: #002fa7;
}

.menu_admin a:hover{
    background-color: #c60800;
}

.input{
    margin: 10px;
}

/* Bouton */

.button{
	display: inline-block;
    width: auto;
    font-size: 15px;
    padding: 10px;
	margin: 10px;
    text-decoration: none;
	text-align: center;
    background-color: #002fa7;
    color: white;
	border: 1px solid white;
    cursor: pointer;
	transition: background-color 1s, color 1s, border 1s;
	
}

.button:hover{
    color: #002fa7;
    background-color: white;
	border: 1px solid #002fa7;
}

/* lien mot de passe oublié + lien de tri */

.mdpoLien, .lienClassement{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.mdpoLien:hover, .lienClassement:hover{
    color: #002fa7;
}

/* tableau */

.tab{
		width:808px;
		margin-left: auto;
		margin-right: auto;
		cursor:  default;
}
.tab acronym{
 cursor:  help;
}
.tab span {
   display:inline;
   float:left;
   border-bottom: solid 1px black;
   margin:0px;
   padding:5px;
   
   
  }

.tab a {
    text-decoration: none;
    color: black;
}
.tab p {
   clear:left;
   margin:0px;
   padding:0px;
   height:100% !important; height:1em;
  }
  .tab2{
		width:808px;
		margin-left: auto;
		margin-right: auto;
		cursor:  default;
}
.tab2 acronym{
 cursor:  help;
}
.tab2 span {
   display:inline;
   float:left;
   border-bottom: solid 1px black;
   margin:0px;
   padding:5px;
   height:30px;
  line-height:30px;
   
  }
.tab2 p {
   clear:left;
   margin:0px;
   padding:0px;
   height:100% !important; height:1em;
  }
.entete span{
    background-color:#c60800;
    line-height: 30px;
    color: white;
}
.liimpaire span{color:#000000; background-color:#ffffff; line-height: 25px;}
.lipaire span{color:#000000; background-color:#CCCCCC; line-height: 25px;}
.tab p.entete {font-weight:bold;}
.tab span.col1 {
    width:190px;
}
.tab span.col2 {width:100px;}
.tab span.col3 {width:190px;}
.tab span.col4 {width:270px;}

.tab2 p.entete {font-weight:bold;}
.tab2 span.col1 {
    width:190px;
}

.tab2 a {
    text-decoration: none;
    color: black;
}
.tab2 span.col2 {width:100px;}
.tab2 span.col3 {width:100px;}
.tab2 span.col4 {width:100px;}
.tab2 img{height:30px;}


/* autocompletion */

.result_focus{
    background-color: #002fa7;
    color: white;
    padding: 5px;
}

.result_unfocus{
    background-color: white;
    padding: 5px;
}

#results{
    background-color: white; 
    border: 1px solid black;
    width: 200px;
    display: none;
    position: absolute;
    left: 45%;
    text-align: left;
}