
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
}
brme-day{
  width: 1/7*100%;
  min-width: 137px;
  padding: 0 4px;
  margin-bottom: 40px;
}

brme-date-picker{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

mat-spinner{
  margin-left: 10px;
}

.empty-spinner {
  width: 30px;
  margin-left: 10px;
}
