
<div class="head-day" (click)="default()">{{ date | date: 'EEEE d' | translateDay}}</div>
<div class="container-day">
  <div class="quarter-day" *ngFor="let quarter of quarters; index as i" [@quarterState]="quarter.state">
    <div class="hour" *ngIf="quarter.state==='default'">{{quarter.date | date: 'H\'h\'m' | hour}}</div>
    <div class="wraper" (click)="active(i)" *ngIf="quarter.state==='default'">
      <div class="quarter-name">{{quarter.name}}</div>
    </div>
    <brme-slot *ngFor="let time of quarter.timestamps"
               [active]="quarter.state === 'open'"
               [currentUser]="currentUser"
               [currentRoom]="currentRoom"
               [reservation]="reservation(time)"
               [timestamp]="time"
               (newResa)="newResa($event)"
               [resaUser]="resaUser">
    </brme-slot>
  </div>
</div>

