@import '../../../styles-variables';


.marker{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60px;
  width: 100%;

  .lines{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .line{
      width: 150px;
      height: 4px;
    }

    .blankline{
      width: 150px;
    }
  }

  .right{
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }

  .left{
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .logo{
    z-index: 2;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    font-size: 1.2em;
    white-space: normal;
  }

  .date{
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 0.9em;
  }

  .mrt{
    margin-right: 60px;
  }

  .mrd{
    margin-right: 20px;
  }

  .mlt{
    margin-left: 60px;
  }

  .mld{
    margin-left: 20px;
  }

}

.major-labels{
  display: flex;
  align-items: center;
}

.head{
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 30px 0 30px;
  width: 100%;
  overflow: hidden;

  .head-title{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    font-size: 1.5em;
    white-space: normal;
  }

  .logo{
    z-index: 2;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.project-body{
  width: 100%;
  padding: 20px 50px;

  .date{
    text-align: right;
  }

  .label-logo{
    width: 30px;
  }

  .link{
    margin: 0;
    font-size: 1.2em;
    text-decoration: underline;
  }

  .row a {
    margin: 0 10px;
  }

  h4{
    margin: 0;
  }

  p{
    text-align: justify;
  }

  mat-chip{
    cursor: pointer;
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .marker {

    .lines{
      .line {
        width: 120px;
      }

      .blankline {
        width: 120px;
      }
    }


    .mrt {
      margin-right: 40px;
    }

    .mrd {
      margin-right: 20px;
    }

    .mlt {
      margin-left: 40px;
    }

    .mld {
      margin-left: 20px;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .marker {
    .title {
      font-size: 1em;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .marker {
    height: 40px;

    .lines {
      .line {
        width: 100px;
      }

      .blankline {
        width: 100px;
      }
    }

    .logo{

      width: 30px;
      height: 30px;
      border-radius: 15px;
    }

    .mrt {
      margin-right: 0px;
    }

    .mrd {
      margin-right: 5px;
    }

    .mlt {
      margin-left: 0px;
    }

    .mld {
      margin-left: 5px;
    }

    .title {
      padding: 5px;
      font-size: 0.8em;
    }
  }

  .head{

    height: 40px;
    padding: 0 20px 0 20px;


    .head-title{
      font-size: 0.9em;
    }

    .logo{
      width: 30px;
      height: 30px;
      border-radius: 15px;
    }
  }

  .project-body {
    padding: 10px 30px;

    h4 {
      font-size: 1em;
    }

    .link {
      font-size: 0.9em;
    }

    .date{
      font-size: 0.8em;
    }

    p{
      font-size: 0.8em;
    }

    mat-chip{
      font-size: 0.8em;

      .label-logo{
        width: 15px;
      }
    }
  }
}

