<div [ngClass]="routeAnimationsElements">
  <mat-card *ngFor="let skill of skills" style="margin-bottom: 20px">
    <div class="row">
      <div class="col-lg-2 skill-name">
        <h3>{{skill.name}}</h3>
      </div>
      <div class="col-lg-10">
        <spc-progress-bar [rank]="skill.mark" [logo]="'../../../assets/skills/'+skill.img">
        </spc-progress-bar>
      </div>
      <div class="col-12 p-0" style="overflow: hidden" *ngIf="skill.learn" [@skillLearnState]="skill.learn ? 'open' : 'close'">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-2 p-0">
            <h4>Description :</h4>
          </div>
          <div class="col-lg-8 p-0">
            <p>{{skill.description}}</p>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-lg-2 p-0">
            <h4>Experience :</h4>
          </div>
          <div class="col-lg-8 p-0">
            <p>{{skill.experience}}</p>
          </div>
        </div>

        <div class="row d-flex justify-content-center" *ngIf="skill.projects.length>0">
          <div class="col-lg-2 p-0">
            <h4>Related projects :</h4>
          </div>
          <div class="col-lg-8 p-0">
            <mat-chip-list>
              <a *ngFor="let project of skill.projects" routerLink="/projects" fragment="{{project.link}}">
                <mat-chip  routerLink="/projects" fragment="{{project.link}}">
                  {{project.name}}
                </mat-chip>
              </a>
            </mat-chip-list>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row d-flex justify-content-end" *ngIf="!skill.learn">
          <button class="mat-button" (click)="skill.learn = true">Learn more ...</button>
        </div>
        <div class="row d-flex justify-content-end" *ngIf="skill.learn">
          <button class="mat-button" (click)="skill.learn = false">Less</button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
