<mat-card>
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="{{placeholder}}" [value]="query" (keyup)="search.emit($event.target.value)">
    </mat-form-field>
    <mat-spinner [class.show]="searching" [diameter]="30" [strokeWidth]="3"></mat-spinner>
  </mat-card-content>
  <mat-card-footer class="alert alert-danger" *ngIf="error"><span >{{error}}</span></mat-card-footer>
  <mat-card-footer class="alert alert-success" *ngIf="success"><span >{{success}}</span></mat-card-footer>
</mat-card>
