@import '~@angular/material/theming';

@mixin spc-cv-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  .cv {
    .download {
      background-color: mat-color($accent);
      color: mat-contrast($accent, 900);
    }

    .download:hover {
      background-color: mat-color($accent, darker);
      color: mat-contrast($accent, 900);
    }

    h1 {
      //background-color: mat-color($primary, darker, 0.3);
      color: mat-color($foreground, h1);
      //border: solid 2px mat-color($foreground, h1);
    }

    h2 {
      color: mat-color($foreground, h2);
    }

    h3 {
      color: mat-color($foreground, h3);
    }

    .intro {
      background-color: mat-color($primary, 400);
      width: 100%;
      padding: 20px 240px 20px 240px;
      text-align: center;
      font-size: 1.2em;
      color: mat-contrast($primary, 400);
    }

    .cv-card {
      ul {
        color: mat-color($foreground, text2);
      }

      p {
        color: mat-color($foreground, p);
      }
    }
  }
}
