<div [ngClass]="theme" #top>
  <div class="cv">
    <div class="row justify-content-end position-absolute mt-2 download-tab">
        <a href="../../../assets/cv.pdf" target="_blank" class="mat-button download" [ngClass]="routeAnimationsElements">Download PDF version</a>
    </div>
    <div class="container">
      <div class="centrer">
        <div><h1 [ngClass]="routeAnimationsElements">Curriculum Vitae</h1></div>
      </div>
      <div class="centrer d-md-none" style="height: 50px">
        <a href="../../../assets/cv.pdf" target="_blank" class="mat-button download" [ngClass]="routeAnimationsElements">Download PDF version</a>
      </div>
      <div class="row">
        <div class="intro" [ngClass]="routeAnimationsElements">
          Second year engineering student at the Ecole des Mines de Saint-Etienne
          majoring in Computer Sciences, Data Sciences and Artificial Intelligence
        </div>
      </div>
      <div class="row mt-2 mt-sm-4">
        <div class="col-lg-9 order-lg-last" [ngClass]="routeAnimationsElements">
          <div class="row">
            <div class="col-xl-12">
              <h2> <mat-icon fontSet="fas" fontIcon="fa-book"></mat-icon>Education</h2>
              <div class="row cv-card">
                <div class="col-2 col-sm-1"><p>2019 2016</p></div>
                <div class="col-10 col-sm-11">
                  <h3>École des Mines de Saint-Etienne (France)</h3>
                  <p>Ingénieur Civil des Mines de Saint-Etienne diploma</p>
                  <ul>
                    <li>
                      Engineering school
                    </li>
                    <li>
                      Computer sciences, Data sciences and Artificial intelligence skills
                    </li>
                    <li>
                      Development of several websites and Android apps
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row cv-card">
                <div class="col-2 col-sm-1"><p>2016 2014</p></div>
                <div class="col-10 col-sm-11">
                  <h3>Lycée Carnot (High school) - Dijon (France)</h3>
                  <p>Preparatory classes</p>
                  <ul>
                    <li>
                      Two-year undergraduate intensive course majoring in mathematics and physics.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row cv-card">
                <div class="col-2 col-sm-1"><p>2014 2011</p></div>
                <div class="col-10 col-sm-11">
                  <h3>Lycée Fourier (High School) - Auxerre (France)</h3>
                  <p>Baccalaureat in science (final French high-school diploma,
                    equivalent of A-level) – Passed with first class honours</p>
                  <ul>
                    <li>
                      Majoring in maths, introduction to physics and engineering
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-12">
              <h2> <mat-icon fontSet="fab" fontIcon="fa-hubspot"></mat-icon>Experience</h2>
              <div class="row cv-card">
                <div class="col-2 col-sm-1"><p>2018 2017</p></div>
                <div class="col-10 col-sm-11">
                  <h3>President of a student association</h3>
                  <p>Associflard, Saint-Etienne (France)</p>
                  <ul>
                    <li>
                      Management of a 15-person team
                    </li>
                    <li>
                      Event planification (meals, walks) to improve the teacherstudent relationship (200 peoples)
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row cv-card">
                <div class="col-2 col-sm-1"><p>2018 2017</p></div>
                <div class="col-10 col-sm-11">
                  <h3>Vice-President of a student association</h3>
                  <p>Student Union of the Ecole Des Mines, Saint-Etienne</p>
                  <ul>
                    <li>
                      Management of a 40-person team
                    </li>
                    <li>
                      Event planification (meals, parties, trips) for 200 students
                    </li>
                    <li>
                      Students' representative
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row cv-card">
                <div class="col-2 col-sm-1"><p>2016</p></div>
                <div class="col-10 col-sm-11">
                  <h3>Industrial placement (4 weeks)</h3>
                  <p>Yoplait, Monéteau (France)</p>
                  <ul>
                    <li>
                      Discovery of an industrial job by acting in many workplace
                      such as handling agent, cleaner and machine controller
                    </li>
                    <li>
                      Learn about the organisation of a factory by many interviews
                      for the placement report
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row cv-card">
                <div class="col-2 col-sm-1"><p>2015</p></div>
                <div class="col-10 col-sm-11">
                  <h3>Summer job (3 weeks)</h3>
                  <p>Alfred Bekker API, Driffield, (United Kingdom)</p>
                  <ul>
                    <li>
                      First experience in the working world
                    </li>
                    <li>
                      Discovering the organisation of a car workshop by doing
                      handling, inventory storage, cutting and assembliing metal
                      and plastic parts
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 order-lg-first" [ngClass]="routeAnimationsElements">
          <div class="row">
            <div class="col-xl-12">
              <h2><mat-icon fontSet="fas" fontIcon="fa-code"></mat-icon>Codes</h2>
              <ul>
                <li>Html/CSS</li>
                <li>Javascript</li>
                <li>Android</li>
                <li>Python</li>
                <li>Java</li>
                <li>PHP</li>
                <li>SQL</li>
                <li>C</li>
                <li>R</li>
              </ul>
            </div>

            <div class="col-xl-12">
              <h2><mat-icon fontSet="fas" fontIcon="fa-cogs"></mat-icon>Skills</h2>
              <ul>
                <li>Pack Office</li>
                <li>Photoshop</li>
                <li>Illustrator</li>
                <li>Blender</li>
                <li>Unix</li>
                <li>Git</li>
              </ul>
            </div>

            <!--<div class="col-xl-12">-->
              <!--<a routerLink="/skills" class="mat-button download">Learn more about my skills</a>-->
            <!--</div>-->

            <div class="col-xl-12">
              <h2> <mat-icon fontSet="fas" fontIcon="fa-language"></mat-icon>Languages</h2>
              <ul>
                <li>French (mother tongue)</li>
                <li>English (advanced)</li>
                <li>German (Intermediate)</li>
              </ul>
            </div>

            <div class="col-xl-12">
              <h2><mat-icon fontSet="fas" fontIcon="fa-volleyball-ball"></mat-icon>Hobbies</h2>
              <ul>
                <li>Climbing</li>
                <li>Running</li>
                <li>Cooking</li>
                <li>Skiing</li>
                <li>DIY</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


