@import '../../../styles-variables';

.download-tab{
  width: 100%;
  z-index: 2;
}

.container {
  position: relative;

  .centrer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
  }

  h1 {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    margin: 0;
  }

  .intro{
    width: 100%;
    padding: 20px 240px 20px 240px;
    text-align: center;
    font-size: 1.2em;
  }

  h2{
    margin-top: 20px;

    mat-icon{
      margin-right: 20px;
    }

  }

  .cv-card{
    margin-top: 30px;

    p{
      font-size: 1.1em;
      font-weight: bold;
    }

    ul{
      list-style-type: circle;
    }
  }
  ul{
    list-style-type: none;
    font-size: 1.2em;
  }

  @media (max-width: map-get($grid-breakpoints, xl)) {
    .intro{
      padding: 20px 150px 20px 150px;
    }
  }

  @media (max-width: map-get($grid-breakpoints, lg)) {
    .intro{
      padding: 20px 20px 20px 20px;
    }
  }

  @media (max-width: map-get($grid-breakpoints, md)) {
    .intro{
      padding: 15px 50px 15px 50px;
    }

    .cv-card{
      font-size: 0.9em;

      h3{
        font-size: 1.5em;
      }
    }
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {

    .centrer {
      height: 70px;
    }

    h1 {
      font-size: 1.4em;

    }

    .cv-card{
      font-size: 0.8em;

      h3{
        font-size: 1.4em;
      }
    }

    .intro{
      padding: 10px 20px 10px 20px;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, md)){
  .download-tab{
    display: none;
  }
}
