@import "palette";

$brme-primary: mat-palette($brme-green, 500, 900, 200);
$brme-accent: mat-palette($brme-greyblue, 500);
$brme-warn: mat-palette($mat-pink, 600);

// Foreground palette for light themes.
  $brme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba(black, 0.26),
  disabled-text:     $dark-disabled-text,
  hint-text:         $dark-disabled-text,
  secondary-text:    $dark-secondary-text,
  icon:              rgba(black, 0.54),
  icons:             rgba(black, 0.54),
  text:              rgba(#060c25, 0.87),
  text2:             rgba(#3a3a60, 0.87),
  slider-min:        rgba(black, 0.87),
  slider-off:        rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
  h1: rgb(0, 176, 2),
  h2: rgb(0, 141, 26),
  h3: rgb(88, 200, 0),
  p:                 rgba(#062504, 0.87),
);

$brme-theme: (
  primary: $brme-primary,
  accent: $brme-accent,
  warn: $brme-warn,
  is-dark: false,
  foreground: $brme-foreground,
  background: $mat-light-theme-background,
);

