<mat-card>
  <mat-card-title>{{verb}} un utilisateur</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input type="email" matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="email.invalid">{{getErrorMessage(email)}}</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Prénom" formControlName="firstname">
          <mat-error *ngIf="firstname.invalid">{{getErrorMessage(firstname)}}</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Nom" formControlName="lastname">
          <mat-error *ngIf="lastname.invalid">{{getErrorMessage(lastname)}}</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Type de résident" formControlName="type">
          <mat-error *ngIf="type.invalid">{{getErrorMessage(type)}}</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="N° de logement" formControlName="bedRoomNumber">
          <mat-error *ngIf="bedRoomNumber.invalid">{{getErrorMessage(bedRoomNumber)}}</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-select placeholder="Droits" formControlName="role">
            <mat-option value='USER'>Utilisateur classique</mat-option>
            <mat-option value='ROLE_ASSO'>Association</mat-option>
            <mat-option value='ROLE_ADMIN'>Administrateur</mat-option>
          </mat-select>
          <mat-error *ngIf="role.invalid">{{getErrorMessage(role)}}</mat-error>
        </mat-form-field>
      </p>

      <p *ngIf="errorMessage " class="alert alert-danger">
        {{ errorMessage }}
      </p>

      <p *ngIf="successMessage " class="alert-success">
        {{ successMessage}}
      </p>

      <p class="loginButtons">
        <mat-spinner *ngIf="ispending" [diameter]="35" ></mat-spinner><button class="ml-2" type="submit" mat-raised-button color="accent" [disabled]="form.invalid">{{verb}}</button>
      </p>

    </form>
  </mat-card-content>
</mat-card>
