<mat-card>
  <mat-card-title>Mettre à jour la liste des résidents</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
          <input type="file" (change)="onFileChange($event)" />
        <mat-error *ngIf="filetouched && file.invalid">{{getErrorMessage(file)}}</mat-error>
      </p>

      <p *ngIf="errorMessage " class="alert alert-danger">
        {{ errorMessage }}
      </p>

      <p class="loginButtons">
        <button class="ml-2" type="submit" mat-raised-button color="accent" [disabled]="form.invalid">Mettre à jour</button>
      </p>

    </form>
  </mat-card-content>
</mat-card>
