/* You can add global styles to this file, and also import other style files */
@import "styles-variables";

@import "../node_modules/font-awesome/css/font-awesome.css";
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/bootstrap';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fontawesome';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-solid';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/scss/fa-brands';

//Theming
@import '../node_modules/@angular/material/theming';

@include mat-core();


@import 'themes/night-theme.scss';
@import 'themes/day-theme.scss';
@import 'themes/blue-day-theme.scss';
@import 'themes/blue-night-theme.scss';

@import "styles-reset";

@import 'app/app.component.scss-theme';
@import "app/home/home.component.scss-theme";
@import "app/cv/cv-home/cv-home.component.scss-theme";
@import "app/skills/skills-home/skills-home.component.scss-theme";
@import "app/projects/projects-home/projects-home.component.scss-theme";
@import "app/projects/project/project.component.scss-theme";
@import "app/hobbies/hobbies/hobbies.component.scss-theme";
@import "app/not-found/not-found.component.scss-theme";
@import "app/skills/progress-bar/progress-bar.component.scss-theme";

@mixin custom-components-theme($theme) {
  @include spc-app-component-theme($theme);
  @include spc-home-component-theme($theme);
  @include spc-not-found-component-theme($theme);
}

@mixin custom-components-D-N-theme($theme) {
  @include spc-app-component-theme($theme);
  @include spc-home-component-theme($theme);
  @include spc-not-found-component-theme($theme);
  @include spc-skills-component-theme($theme);
  @include spc-cv-component-theme($theme);
  @include spc-projects-component-theme($theme);
  @include spc-project-component-theme($theme);
  @include spc-hobbies-component-theme($theme);
  @include spc-progress-bar-component-theme($theme);
}

.day-theme {
  @include angular-material-theme($spc-day-theme);
  @include custom-components-theme($spc-day-theme);
}

.night-theme {
  @include angular-material-theme($spc-night-theme);
  @include custom-components-theme($spc-night-theme);
}

.blue-day-theme {
  @include angular-material-theme($spc-blue-day-theme);
  @include custom-components-theme($spc-blue-day-theme);
  @include custom-components-D-N-theme($spc-blue-day-theme);
}

.blue-night-theme {
  @include angular-material-theme($spc-blue-night-theme);
  @include custom-components-theme($spc-blue-night-theme);
  @include custom-components-D-N-theme($spc-blue-night-theme);
}

