@import '../../../styles-variables';


.timeline{
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  padding-top: 90px;

  svg-icon{
    position: absolute;
    z-index: 1;
    width: 60px;
    margin-top: -20px;
  }

  .line{
    height: 100%;
    width: 8px;
    z-index: 0;
  }
}

.container {
  position: relative;

  .centrer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
  }

  h1 {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    margin: 0;
  }



  .projects-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 60px;
    z-index: 2;

    spc-project{
      width: 100%;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }


}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .centrer {
    height: 70px;
  }

  h1 {
    font-size: 1.4em;
  }

  .timeline{


    svg-icon{
      width: 30px;
      margin-top: -10px;
    }

    .line{
      width: 4px;
    }
  }
}
