@import '~@angular/material/theming';

@mixin spc-projects-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);


  .projects{
    h1 {
      //background-color: mat-color($primary, darker, 0.3);
      color: mat-color($foreground, h1);
      //border: solid 2px mat-color($foreground, h1);
    }

    .timeline{

      svg-icon{
        fill: mat-color($foreground, h2);
      }

      .line{
        background-color: mat-color($foreground, h2);
      }
    }


  }

}
