<div [ngClass]="theme" #top>
  <div class="projects">
    <div class="timeline" [ngClass]="routeAnimationsElements">
      <svg-icon src="{{'../../../assets/arrow.svg'}}" [svgStyle]="{}"></svg-icon>
      <div class="line"></div>
    </div>
    <div class="container">
      <div class="centrer">
        <div><h1 [ngClass]="routeAnimationsElements">Projects</h1></div>
      </div>
      <div class="projects-list">
        <spc-project *ngFor="let project of projects; index as i" [project]="project" [index]="i" [open]="project.open" (opened)="open($event)" [ngClass]="routeAnimationsElements" #projects></spc-project>
      </div>
    </div>
  </div>
</div>
