:host {
  display: flex;
  justify-content: center;
  margin: 72px 0;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.loginError {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.loginButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

mat-card-footer {
  display: flex;
  justify-content: center;
  height: 2em;
  a {
    color: #434549;
    font-size: 0.8em;
  }
  a:hover {
    color: #413f5b;
    font-size: 1em;
  }
}
