@import '../../styles-variables';
@import url('https://fonts.googleapis.com/css?family=Alegreya|Anton|Galada');

p{
  font-size: 1.5em;
  text-align: justify;
  a{
    text-decoration: underline;
  }
}


.background {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../../assets/abstract-wallpaper-light.png') no-repeat center top;
    background-size: cover;
    opacity: 0.7;
    content: '';
    z-index: 0;
  }

  .gradient {
    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      bottom: 0;
      right: 0;
      content: '';
      z-index: 0;
    }
  }

  .container {
    position: relative;

    .centrer{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 500px;
    }
    h1 {
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-size: 3em;
      text-transform: uppercase;
      font-weight: bold;
      display: inline-block;
      padding: 20px;

      background-color: rgba(48, 48, 48, 0.6);
      color: white;
      border: solid 2px white;
    }

    @media (max-width: map-get($grid-breakpoints, md)) {
      .centrer{
        height: 300px;
      }
      h1{
        font-size: 2em;
        padding: 15px;
      }
    }

    @media (max-width: map-get($grid-breakpoints, sm)) {
      .centrer{
        height: 200px;
      }
      h1{
        font-size: 1.5em;
        padding: 10px;
      }
    }


  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  p{
    font-size: 1.2em;
  }
}




