<div [ngClass]="theme">
  <div class="skills">
    <div class="container">
  <div class="centrer">
    <div><h1 [ngClass]="routeAnimationsElements">Skills</h1></div>
  </div>
  <mat-tab-group>
    <mat-tab label="Languages">
      <h2>Programming Languages</h2>
      <spc-skills-list></spc-skills-list>
    </mat-tab>
    <mat-tab label="Web">
      <h2>Web</h2>
      <spc-skills-list></spc-skills-list>
    </mat-tab>
    <mat-tab label="AI">
      <h2>Artificial Intelligence</h2>
      <spc-skills-list></spc-skills-list>
    </mat-tab>
    <mat-tab label="Data">
      <h2>Data Science</h2>
      <spc-skills-list></spc-skills-list>
    </mat-tab>
    <mat-tab label="Other">
      <h1>Other</h1>
      <spc-skills-list></spc-skills-list>
    </mat-tab>
  </mat-tab-group>

</div>
  </div>
</div>
