<div [ngClass]="theme" #top>
  <div class="skills">
    <div class="container">
      <div class="centrer">
        <div><h1>Skills</h1></div>
      </div>
      <div (swipeleft)="swipe($event)" (swiperight)="swipe($event)">
        <mat-tab-group [dynamicHeight]="true" [selectedIndex]='selectedSkill' >
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="mat-tab-label" (click)="goTo('languages')">Languages</span>
          </ng-template>
              <h2 [ngClass]="routeAnimationsElements"> <mat-icon svgIcon="code"></mat-icon>Programming Languages</h2>
              <spc-skills-list [skills]="skills.language"></spc-skills-list>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="mat-tab-label" (click)="goTo('web')">Web</span>
          </ng-template>
          <h2 [ngClass]="routeAnimationsElements"><mat-icon svgIcon="web"></mat-icon>Web</h2>
          <spc-web-skills-list [skillsLists]="skills.web"></spc-web-skills-list>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="mat-tab-label" (click)="goTo('ai')">A.I.</span>
          </ng-template>
          <h2 [ngClass]="routeAnimationsElements"><mat-icon svgIcon="ai"></mat-icon>Artificial Intelligence</h2>
          <spc-skills-list [skills]="skills.ia"></spc-skills-list>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="mat-tab-label" (click)="goTo('graphical')">Graphical</span>
          </ng-template>
          <h2 [ngClass]="routeAnimationsElements"><mat-icon svgIcon="paint"></mat-icon>Graphical</h2>
          <spc-skills-list [skills]="skills.graphical"></spc-skills-list>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="mat-tab-label" (click)="goTo('other')">Other</span>
          </ng-template>
          <h2 [ngClass]="routeAnimationsElements"><mat-icon svgIcon="tech"></mat-icon>Other</h2>
          <spc-skills-list [skills]="skills.other"></spc-skills-list>
        </mat-tab>
      </mat-tab-group>
      </div>
    </div>
  </div>
</div>
