.slot{
  height: 100%;
  border: solid 0.5px #afafaf;
  position: relative;
  z-index: 1;

  .hour {
     position: absolute;
     padding: 0 5px 0 5px;
     height: 20px;
     margin: -12px 0 0 -7px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: white;
     border: solid #7d7d7d 1px;
   }

  .icon {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    svg-icon {
      height: 20px;
      width: 20px;
      cursor: pointer;
    }
  }

  .plus {
    svg-icon {
      fill: #495965;
    }

    svg-icon:hover {
      fill: #0fb001;
    }
  }

  .minus{
    svg-icon {
      fill: #495965;
    }

    svg-icon:hover {
      fill: #f10004;
    }
  }

  .user{
    svg-icon {
      fill: #495965;
    }

    svg-icon:hover {
      fill: #637989;
    }
  }
}

.default{
  background-color: #efefef;
}

.booked-current-user{
  background-color: #58c800;
}

.booked-other{
  background-color: #ef7523;
}

.booked-asso{
  background-color: #519cef;
}

.booked-admin{
  background-color: #ef2724;
}
