<div class="slot" [ngClass]="class()">
  <div class="hour" *ngIf="active">{{date | date: 'H\'h\'m' | hour}}</div>

  <div class="icon plus" *ngIf="active && !pending && reservation === null && currentUser !== null && (resaUser < 8 || currentUser.role === 'ROLE_ADMIN')"  >
      <svg-icon src="assets/plus.svg" [svgStyle]="{ 'width.%': '100', 'height.%': '100' }" (click)="book()"></svg-icon>
  </div>

  <div class="icon minus" *ngIf="active && !pending && reservation !== null && currentUser !== null && reservation.user.id === currentUser.id">
    <svg-icon src="assets/minus.svg" [svgStyle]="{ 'width.%': '100', 'height.%': '100' }" (click)="unbook()"></svg-icon>
  </div>

  <div class="icon user" *ngIf="active && !pending && reservation !== null && currentUser !== null && reservation.user.id !== currentUser.id">
    <svg-icon src="assets/user.svg" [svgStyle]="{ 'width.%': '100', 'height.%': '100' }" matTooltip="{{reservation.user.firstname}} {{reservation.user.lastname}}"></svg-icon>
  </div>

  <div class="icon" *ngIf="active && pending">
    <mat-spinner [diameter]="20" ></mat-spinner>
  </div>
</div>
