@import "palette";

$spc-R-primary: mat-palette($spc-red, 500, 300, 900);
$spc-R-accent: mat-palette($spc-red, 800);
$spc-R-warn: mat-palette($spc-red, 500);

$spc-R-theme: mat-light-theme(
  $spc-R-primary,
  $spc-R-accent,
  $spc-R-warn
);
