@import '~@angular/material/theming';

@mixin spc-progress-bar-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);


  spc-progress-bar{

    .step-label{
      background-color: mat-color($background, background);
      border-color: mat-color($foreground,text);

      svg-icon{
        fill: mat-color($foreground,text);
      }
    }
  }

}
